/*animation des titres*/

.titre1, .titre2, .titre3, .titre4 {
    display: inline-block;
    position: relative;
    opacity: 0;
    animation: 1s ease-in-out;
    animation-name: animateTitre;
  }
  
  .titre1 {
    animation-delay: 4s;/* Décalage de 4 secondes pour la première animation */
    animation-fill-mode: forwards; /* Maintient l'état final de l'animation */
  }
  
  .titre2 {
    animation-delay: 5s; /* Décalage de 5 secondes pour la deuxième animation */
    animation-fill-mode: forwards; /* Maintient l'état final de l'animation */
  }
  .titre3 {
    animation-delay: 10s;/* Décalage de 10 secondes pour la première animation */
    animation-fill-mode: forwards; /* Maintient l'état final de l'animation */
  }
  
  .titre4 {
    animation-delay: 11s; /* Décalage de 11 secondes pour la deuxième animation */
    animation-fill-mode: forwards; /* Maintient l'état final de l'animation */
  }
  
  @keyframes animateTitre {
    0% {
      transform: translateY(100px);
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }