//vidéo du court-métrage en fond
.banner {
    background-image: none;  
    position: relative;

    .bannerLogo {
        width: 680.7px;
        z-index: 1;
    }
    
    .bannerVideo {
        position: absolute;
        width: 100% !important;
        z-index: 0;
        top: 0;
    }
    .bannerBackground{
        width: 100%;
    position: absolute;
    top: 107px;
    z-index: -1;
    }
    #parallax{
        z-index: 1;
        position: relative;
        bottom: 50px;
    }
}
@media (max-width: 1024px){
    .banner {
        min-height: 578px;

        #parallax{
            bottom: 34px;
        }
        .bannerLogo{
            width: 477.7px;
        }
        .bannerBackground{
            top: 78px;
        }
    }        
}
@media (max-width: 768px) {

    .banner {
        background-image: url('../../assets/images/banner.png'); 
        min-height: 497px;

        .bannerVideo {
            display:none;
        }
        
        .bannerBackground{
            top: 77px;
        }

        .bannerLogo{
            width: 340px;
        }

        #parallax{
            bottom: 83px;
        }               
    }
    
    
}


