/* Style Generale  */
.site-main {
	overflow: hidden;
}
a{
    text-decoration:none;
}

ul{
    padding: 0;
    margin: 0;
}

.story #characters h3{
    background-position: left;
    text-align: left;
    padding: 1.5em 2em;
}

@media (max-width: 1439px){
    .story #characters h3{
        background-position: center;
        text-align: center;
    }
}

@import "stylesSass/menuBurger";
@import "stylesSass/animation_fadein";
@import "stylesSass/animation_float_logo";
@import "stylesSass/animation_flowers";
@import "stylesSass/heroHeader"; 
@import "stylesSass/animation_title";
@import "stylesSass/position_cloud";
@import "stylesSass/oscars";

